<div class="container index_home">
    <div class="index_hero">
        <img class="logo-hero logo-on-light" id="index-logo" src="" alt="Giga Desk Booking">
        <img class="logo-hero logo-on-dark" id="index-logo-dark" src="" alt="">
        <a id="index_default_plan_btn" class="waves-effect waves-light btn" href="#" style="display:none"></a>
    </div>

    <div class="row index_intro">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title TR">home.HowToTitle</span>
                    <ol class="index_steps">
                        <li class="TR">home.Step1</li>
                        <li class="TR">home.Step2</li>
                        <li class="TR">home.Step3</li>
                        <li class="TR">home.Step4</li>
                    </ol>
                    <p class="TR">home.BookingsHint</p>
                </div>
            </div>
        </div>
    </div>

    <div class="warp-capacity">
        <h5 class="warp-capacity-title TR">home.CapacityTitle</h5>
        <div id="capacity_alerts" class="warp-capacity-alerts" style="display:none"></div>
        <div id="capacity_cards"></div>
    </div>
</div>
